Konrad Kusiak <blyskx@gmail.com> <kusiak.konrad@gmail.com>
Konrad Kusiak <blyskx@gmail.com> <konrad_kusiak@epam.com> 
Adam Michalak <michalak.adam@protonmail.com> <adam_michalak@epam.com>
Mateusz Syposz <Mateusz_Syposz@epam.com> <mat.syposz@gmail.com>
