body {
    color: #343a40;
    font-family: 'Lato', sans-serif !important;
    line-height: 1;
}

.my-6 {
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.opacity {
    opacity: 0.5;
}

.btn-lg {
    margin-top: 15px;
}